<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aprendiz.ragp.proyectopsp8">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuPrincipal" />
        <activity
            android:name=".Controllers.TimerLog"
            android:label="@string/title_activity_timer_log" />
        <activity
            android:name=".Controllers.DefectLog"
            android:label="@string/title_activity_defect_log" />
        <activity
            android:name=".Controllers.ProyectPlanSummary"
            android:label="@string/title_activity_proyect_plan_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Controllers.Menu_Proyecto">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controllers.LTimeLog" />
        <activity android:name=".Controllers.LDefectLog"></activity>
    </application>

</manifest>